<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<style>
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
</style>
<script>
$(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
});
</script>

<div><h2>Survey questionares</h2></div>

<% if current_user==nil %>
  <table>
  <% @questionares.each do |questionare| %>
    <tr>
      
      <td>About <%= questionare.questionare_name %></td>
      <td>By:<%= User.find_by_id(questionare.user_id).name %></td>
      <td><%= link_to 'View questions', questionare %></td>
      
    </tr>
  <% end %>
  </table>
<% elsif current_user.priviledge=="ordinary_user" %>
  <table>
  <% @questionares.each do |questionare| %>
    <tr>
      
      <td>About <%= questionare.questionare_name %></td>
      <td>By:<%= User.find_by_id(questionare.user_id).name %></td>
      <td><%= link_to 'Participate', questionare %></td>
      
    </tr>
  <% end %>
  </table>

<% elsif current_user.priviledge=="administrator" %>
    <div>
      <%= form_for(@questionare) do |f| %>
        <div class="field">
          <%= f.label :about %>
          <%= f.text_field :questionare_name %>
          
          <%= f.submit("add new Questionare") %>
          
      <% end %>
  </div>

  <ul id="sortable">
    
  <% @questionares.each do |questionare| %>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>

      
      About <%= questionare.questionare_name %>
      By:<%= User.find_by_id(questionare.user_id).name %>
      <%= link_to 'View', questionare %></td>
      <%= link_to 'Edit', edit_questionare_path(questionare) %>
      <%= link_to 'Delete', questionare, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>



<% end %>

<br />


