<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
$(function() {
    $( "#datepicker" ).datepicker();
});
</script>




<div>
  <h2>Questionare name: <%= @questionare.questionare_name %></h2>
</div>
<div>
  <b>survey taker:</b>
  <%= User.find_by_id(@questionare.user_id).name %>
</div>

<% if current_user==nil %>

  

  <% @questionare.questions.each do |question| %>
      <div class="well">
        <%= question.content %><br />
      </div>
  <% end %>
  


<% elsif current_user.priviledge=="ordinary_user" %>
  <% @filtered_questions.each do |question| %>
    <div class="well">
      <td><%= question.content %></td>
      <td>
        
         <% if question.answer_type=="word"%>
            <%= form_for(Wordanswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="field">
                <%= f.text_field :content %>
              </div>

              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>
         <% elsif question.answer_type=="text"%>
            
            
            
            <%= form_for(Textanswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="text_area">
                
                <%= f.text_area :content  %>
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>            
         <% elsif question.answer_type=="number"%>
            <%= form_for(:numberanswer, url: numberanswers_path) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="field">
                
                <%= f.text_field :userinput %>
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>         
         
         <% elsif question.answer_type=="date"%>   
            <%= form_for(Dateanswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="field">
                
                
                Date: <input type="text" id="datepicker" name="dateanswer[content]" />

                
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>
            
            
            
            
            
            

            
            
            
            
            
            
         <% elsif question.answer_type=="boolean"%>
            <%= form_for(Booleananswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>  
              <div class="button">
                
                <%= f.radio_button :content, "yes" %>
                Yes
                <br>
                
                <%= f.radio_button :content, "no" %>
                No
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>     
      
         <% end %>  
      </td>
 
    </div>
  <% end %>
  
  <% if @filtered_questions.length == 0 %>
    <div class="well">
    <h3>You have completed this survey</h3><br />
    </div>
  <% end %>


<% elsif current_user.priviledge=="administrator" %>

  <div class="well">  
  <%=form_for(Question.new) do |f|%>
    
    <div>  
      Question
      <%= f.text_field :content %>
    </div>
    <label class="checkbox"> 
      <%= f.radio_button :answer_type, "text" %>
      essay
    </label>
    <label class="checkbox">  
      <%= f.radio_button :answer_type, "date" %>
      Date
    </label>
    <label class="checkbox">   
      <%= f.radio_button :answer_type, "number" %>
      number
    </label>
    <label class="checkbox">   
      <%= f.radio_button :answer_type, "word" %>
      word/number
    </label>  
      <%= f.hidden_field :questionare_id, value:@questionare.id %>
    <label class="checkbox"> 
      <%= f.radio_button :answer_type, "boolean" %>
      yes/no
    </label>
    
      <%= f.submit("Add question") %>
    
  <% end %>  
  </div>
  
  
    <% @questionare.questions.each do |question| %>
    
    
    <div class="well">
      
      <div class="raw">
        <div class="spawn12">
          <%= question.content %>
        </div>
      </div>
      
            
      
      
        <% if cookies[question.id.to_s+"current"]==nil %>
          <% cookies[question.id.to_s+"current"]="0" %>
          
        <% end %>
          
        
        
        
          
          
        
          
        <% len =0 %>
        <% if question.answer_type=="word"  %>
          <% len=question.wordanswers.length %>
        <% elsif question.answer_type=="boolean"  %>
          <% len=question.booleananswers.length %>
        <% elsif question.answer_type=="date"  %>
          <% len=question.dateanswers.length %>
        <% elsif question.answer_type=="text"  %>
          <% len=question.textanswers.length %>
        <% elsif question.answer_type=="number"  %>
          <% len=question.numberanswers.length %>
        <% end %>  
          
        <% if len>0 %>
          <% if cookies[question.id.to_s+"current"].to_i<0 %>
            <% cookies[question.id.to_s+"current"]=len-1 %>
          <% elsif cookies[question.id.to_s+"current"].to_i>=len %>
            <% cookies[question.id.to_s+"current"]=0 %>
          <% end %>
          
          
          
          
          
          
          <% if question.answer_type=="word"  %>
            <div class="raw">
              <div class="span1">
                <%= User.find_by_id(question.wordanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
              </div>
              <div class="span11">
                <%= question.wordanswers[cookies[question.id.to_s+"current"].to_i].content %>
              </div>
            </div>
                
                
          <% elsif question.answer_type=="boolean"  %>
            <div class="raw">
              <div class="span1">
                <%= User.find_by_id(question.booleananswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
              </div>
              <div class="span6">
                <%= question.booleananswers[cookies[question.id.to_s+"current"].to_i].content %>
              </div>
            </div>
            
            
            
          <% elsif question.answer_type=="date"  %>
            <div class="raw">
              <div class="span6">
                <%= User.find_by_id(question.dateanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
              </div>
              <div class="span11">
                <%= question.dateanswers[cookies[question.id.to_s+"current"].to_i].content %>
              </div>
            </div>
            
            
            
            
          <% elsif question.answer_type=="text"  %>
            <div class="raw">
              <div class="span1">
                <%= User.find_by_id(question.textanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
              </div>
              <div class="span11">
                <%= question.textanswers[cookies[question.id.to_s+"current"].to_i].content %>
              </div>
            </div>
            
            
            
          <% elsif question.answer_type=="number"  %>
            <div class="raw">
              <div class="span1">
                <%= User.find_by_id(question.numberanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
              </div>
              <div class="span11">
                <%= question.numberanswers[cookies[question.id.to_s+"current"].to_i].content %>
              </div>
            </div>
            
            
            
            
          <% end %>  
            
            
        <% end %>
      
      <br>
      <div class="raw">
        
        
          <div class="span0">
            <%= form_for(:float, url: questionares_path) do |f| %>
                  <%= f.hidden_field :question_id, value:question.id %>
                  <%= f.hidden_field :dir, value:-1 %>
                  <%= f.submit("prev") %>
                

              <% end %>
          </div>
          <div class="span0">
            <%= form_for(:float, url: questionares_path) do |f| %>
                  <%= f.hidden_field :question_id, value:question.id %>
                  <%= f.hidden_field :dir, value:1 %>
                  <%= f.submit("next") %>
                

              <% end %>
          </div>
      
              
      </div>
      
     
      
      <div class="raw">
        <div class="span0">
          <%= link_to 'Edit', edit_question_path(question) %>
        </div>
        <div class="span0">
          <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
       
  
            

      
      
    </div>
  <% end %>

  

<% end %>
<%= link_to 'Back', questionares_path %>
