<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
$(function() {
    $( "#datepicker" ).datepicker();
});
</script>




<div>
  <h2>Questionare name: <%= @questionare.questionare_name %></h2>
</div>
<div>
  <b>survey taker:</b>
  <%= User.find_by_id(@questionare.user_id).name %>
</div>

<% if current_user==nil %>

  

  <% @questionare.questions.each do |question| %>
      <%= question.content %><br />
  <% end %>
  


<% elsif current_user.priviledge=="ordinary_user" %>
  <% @filtered_questions.each do |question| %>
    <tr>
      <td><%= question.content %></td>
      <td>
        
         <% if question.answer_type=="word"%>
            <%= form_for(Wordanswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="field">
                <%= f.text_field :content %>
              </div>

              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>
         <% elsif question.answer_type=="text"%>
            
            
            
            <%= form_for(Textanswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="field">
                
                <%= f.text_area :content %>
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>            
         <% elsif question.answer_type=="number"%>
            <%= form_for(:numberanswer, url: numberanswers_path) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="field">
                
                <%= f.text_field :userinput %>
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>         
         
         <% elsif question.answer_type=="date"%>   
            <%= form_for(Dateanswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>
              <div class="field">
                
                
                Date: <input type="text" id="datepicker" name="dateanswer[content]" />
                
                
                
                
                
                
                
                
                
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>
            
            
            
            
            
            

            
            
            
            
            
            
         <% elsif question.answer_type=="boolean"%>
            <%= form_for(Booleananswer.new) do |f| %>
              <%= f.hidden_field :question_id, value:question.id %>  
              <div class="button">
                
                <%= f.radio_button :content, "yes" %>
                <%= f.label "Yes" %>
                <br />
                
                <%= f.radio_button :content, "no" %>
                <%= f.label "No" %>
              </div>
              
              <div class="actions">
                <%= f.submit("Add answer") %>
              </div>
            <% end %>     
      
         <% end %>  
      </td>
 
    </tr>
  <% end %>
  
  <% if @filtered_questions.length == 0 %>
    You have completed this survey<br />
  <% end %>


<% elsif current_user.priviledge=="administrator" %>

  
  <%=form_for(Question.new) do |f|%>
    <%= f.label "Question" %>
    <%= f.text_field :content %>
    <div class="button">
      
      <%= f.radio_button :answer_type, "text" %>
      <%= f.label "essay" %>
      <br />
      <%= f.radio_button :answer_type, "date" %>
      <%= f.label "Date" %>
      <br />
      <%= f.radio_button :answer_type, "number" %>
      <%= f.label "number" %>
      <br />
      <%= f.radio_button :answer_type, "word" %>
      <%= f.label "word/number" %>
      <br />
      <%= f.hidden_field :questionare_id, value:@questionare.id %>
      <%= f.radio_button :answer_type, "boolean" %>
      <%= f.label "yes/no" %>
      
    </div>
    
    <div class="actions">
      <%= f.submit("Add question") %>
    </div>
  <% end %>  

  <table>

  <% @questionare.questions.each do |question| %>
    <tr>
      <td><%= question.content %></td>
      
            
      
      <td>
        <% if cookies[question.id.to_s+"current"]==nil %>
          <% cookies[question.id.to_s+"current"]="0" %>
          
        <% end %>
          
        
        
        
          
          
        
          
        <% len =0 %>
        <% if question.answer_type=="word"  %>
          <% len=question.wordanswers.length %>
        <% elsif question.answer_type=="boolean"  %>
          <% len=question.booleananswers.length %>
        <% elsif question.answer_type=="date"  %>
          <% len=question.dateanswers.length %>
        <% elsif question.answer_type=="text"  %>
          <% len=question.textanswers.length %>
        <% elsif question.answer_type=="number"  %>
          <% len=question.numberanswers.length %>
        <% end %>  
          
        <% if len>0 %>
          <% if cookies[question.id.to_s+"current"].to_i<0 %>
            <% cookies[question.id.to_s+"current"]=len-1 %>
          <% elsif cookies[question.id.to_s+"current"].to_i>=len %>
            <% cookies[question.id.to_s+"current"]=0 %>
          <% end %>
          
          
          
          
          
          
          <% if question.answer_type=="word"  %>
            <%= User.find_by_id(question.wordanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
            <%= question.wordanswers[cookies[question.id.to_s+"current"].to_i].content %>
          <% elsif question.answer_type=="boolean"  %>
            <%= User.find_by_id(question.booleananswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
            <%= question.booleananswers[cookies[question.id.to_s+"current"].to_i].content %>
          <% elsif question.answer_type=="date"  %>
            <%= User.find_by_id(question.dateanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
            <%= question.dateanswers[cookies[question.id.to_s+"current"].to_i].content %>
          <% elsif question.answer_type=="text"  %>
            <%= User.find_by_id(question.textanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
            <%= question.textanswers[cookies[question.id.to_s+"current"].to_i].content %>
          <% elsif question.answer_type=="number"  %>
            <%= User.find_by_id(question.numberanswers[cookies[question.id.to_s+"current"].to_i].user_id).name+":" %>
            <%= question.numberanswers[cookies[question.id.to_s+"current"].to_i].content %>
          <% end %>  
            
            
        <% end %>
    
      </td>
      <td>
        <%= form_for(:float, url: questionares_path) do |f| %>
            <%= f.hidden_field :question_id, value:question.id %>
            <%= f.hidden_field :dir, value:-1 %>
            <%= f.submit("prev") %>
          

        <% end %>        
      </td>
      
      <td>
        <%= form_for(:float, url: questionares_path) do |f| %>
            <%= f.hidden_field :question_id, value:question.id %>
            <%= f.hidden_field :dir, value:1 %>
            <%= f.submit("next") %>
          

        <% end %>
      </td>
       
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
            

      
      
    </tr>
  <% end %>
  </table>

  

<% end %>
<%= link_to 'Back', questionares_path %>
