<div>
<div class="well">
<%= form_for(:session, url: sessions_path) do |f| %>


  
    <%= f.label :email %><br />
    <%= f.text_field :email %>
 
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  
    
    <%= f.submit("sign in") %>
  
<% end %>
</div>
<%= link_to 'back' , root_path %>
</div>
